<footer class="footer">
<div class="footer-content">
    <span>&copy; 2025 Quiz Application </span>
    <!-- «span>Made with <span class="heart"›&hearts;</span> by Rajat</span> --> 
    <span>Made with ❤️ by Rajat Kumar</span>

    <div class="social-icons">
    <a href="https://github.com/iamRajatKumar" target="_blank" aria-label="Github">
    <i class="fab fa-github"></i>
    </a>
    <a href="https://Linkedin.com/i-am-rajat-kumar" target="_blank" aria-label="LinkedIn" >
    <i class="fab fa-linkedin"></i>
    </a>
    <a href="/" target="_blank" aria-label="Email">
    <i class="fas fa-envelope"></i>
    </a>
</div>
</div>
</footer>