<h2>All Quizzes</h2>
<div class="mb-3">
    <a routerLink="/quiz/add" class="btn btn-primary">Create Quiz</a>
</div>

<div *ngFor="let i of quizzes" class="card mb-3 p-3">
    <h4>{{ i.title }}</h4>
    <p><strong>Question: </strong></p>
    <ul *ngIf="i.question?.length; else noQuestions">
        <li *ngFor="let q of i.question">
            {{ i.question }}
        </li>
    </ul>

    <ng-template #noQuestions>
        <p class="text-center para">No questions Available ❗</p>
    </ng-template>

    <a [routerLink]="['/quiz', i.id]" class="btn btn-outline-secondary btn-sm mt-2">View Details</a>
    
</div>
